/*--------globals-----------*/

body {
    position: relative;
    width: 900px;
    height: 3876px;    
    background: #FFFFFF;
    display: grid;
}

/*--------header-----------*/

.header {
    display: flex;
    justify-content: space-between;
    
    position: absolute;
    width: 58.75rem;
    top: 1rem;

    &__logo {
        position: absolute;
        left: 6.08%;
        right: 90.41%;
        top: 1rem;
        bottom: 97.73%;
    }
    &__nav {
        position: absolute;
        left: 50rem;
        top: 0.5rem;
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */
        letter-spacing: 0.04em;
        color: #1F3F68;

        ul{
            display: flex;
            justify-content: space-between;
            li {
                padding: 1rem; 
                cursor: pointer;                         
                       
           
            }            
        }
    }
}

/*--------banner-----------*/

.banner {
    display: flex;
    background-image: url(/images/banner.png);
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 78.9rem;
    height: 250px;
    left: 0px;
    top: 6rem;

    background: linear-gradient(211.87deg, #98D0FC 2.46%, #3481D7 93.24%);

    &__title    {      
        position: absolute;
        top: 2rem;
        width: 20rem;
        height: 4.625rem; 
        left: 30.5rem;                           
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 74px;
        /* identical to box height, or 168% */
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }
    &__article {
        position: absolute;
        width: 48.75rem;
        height: 3.75rem;
        left: 15.25rem;
        top: 7rem;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */
        text-align: center;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.78);
    }
}

/*--------search-----------*/

.search {
    position: absolute;
    width: 58.75rem;
    height: 3.5rem;
    left: 11rem;
    top: 25rem;

    background: #F4F4F4;
    border-radius: 10px;

    &__icon {
               
        position: absolute;
        left: 3rem;
        right: 14.63%;
        top: 1.3rem;          
      
    }

    &__input    {
        position: absolute;
        width: 30rem;
        height: 18px;
        left: 6rem;
        top: 1.3rem;

        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        background: #F4F4F4;
        border-style: none;
        
        
        /* Blue_01 */

        color: #1F3F68;
        opacity: 0.6;
    }
}

/*-------- Main Principal-----------*/

.main {
    display: grid;
    position: absolute;
    width: 58rem;
    height: 25rem;
    left: 11.3rem;
    top: 30rem;

    &__titulo {
    position: absolute;
    width: 103px;
    height: 23px;        
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: 0.04em;
    /* blue_03 */
    color: #356EAD;
    opacity: 0.8;
    }

    &__principal {
        position: absolute;
        width: 58rem;
        height: 30rem;
        
      h2 {
          position: absolute;
            width: 380px;
            height: 92px;
            top: 3rem;                    
            font-family: Helvetica;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 46px;
            /* or 128% */
            letter-spacing: 0.04em;
            /* Blue_01 */
            color: #1F3F68;   
         }
         p {
            position: absolute;
            width: 380px;
            height: 201px;
            top: 9rem;
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */
            letter-spacing: 0.04em;
            color: #000000;
            opacity: 0.6;
         }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 377px;
        height: 52px;
        top: 23rem;
        
        .datosname1 {
            height: 25px;
            font-family: Helvetica;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */
            letter-spacing: 0.04em;
            /* Blue_01 */
            color: #1F3F68;;
        }
       .iconauthor {
          align-self: center;
       }           
        
                     
    }

    &__image {
        position: absolute;
        width: 540px;
        height: 380px;
        top: 3rem;
        right: 0;      
 
 
    }        
}

/*-------- Articulos parte uno-----------*/

.articles1 {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 18.75rem 18.75rem  18.75rem ;
          
    position: absolute;
    width: 58rem;
    height: 25rem;
    left: 11.3rem;
    top: 60rem;    

&__1 {
        h3 {
            font-family: Helvetica;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 32px;
            /* or 145% */
            letter-spacing: 0.04em;
            /* Blue_01 */
            color: #1F3F68;
        }
        p {
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */
            letter-spacing: 0.04em;
            color: rgba(0, 0, 0, 0.6);
        }
        footer {
            display: flex;
            justify-content: space-between;
        }
    }
    
}

/*-------- División de pagina -----------*/

.footerarticles {
    position: absolute;
    width: 16rem;
    height: 18px;
    left: 52rem;
    top: 90rem;
    cursor: pointer;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.04em;
      /* blue_03 */
    color: #356EAD;
    opacity: 0.8;
}

.footerarticles:hover {
    color: peru;
}

.division2 {
    position: absolute;
    width: 58rem;
    height: 0px;
    left: 11.5rem;
    top: 92rem;

    border: 1px solid rgba(0, 0, 0, 0.2);
    }


/*-------- Articulos parte dos---     position: absolute;
width: 941px;
height: 1260px;
left: 213px;
top: 1650px;--------*/

    .titlearticles2 {
        position: absolute;
        width: 139px;
        height: 23px;
        left: 213px;
        top: 95rem;

        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */
        letter-spacing: 0.04em;
        /* blue_03 */
        color: #356EAD;
        opacity: 0.8;
    }

.articles2 {
    display: grid;
    grid-template-rows: 14rem 14rem 12.5rem 12.5rem 12.5rem;
    grid-row-gap: 0.5rem;
    position: absolute;
    width: 58rem;
    height: 65.5rem;
    left: 11.5rem;
    top: 100rem;
    border: 1px solid green;

    &__1 {
        display: grid;
        grid-template-columns: 20rem 25rem 0; 
       
        justify-content: space-between;


              .articles2img1 {
                  grid-column-start: 0;
                  grid-column-end: 1;
                  grid-row-start: 0;
                  grid-row-end: 2;

                               
                  height: 200px;
                  left: 30rem;
                  top: 0rem;
                  
              }

              .articles2h3 {                
                    position: relative;               
                                                      
                    font-family: Helvetica;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 28px;
                    /* identical to box height, or 156% */
                    letter-spacing: 0.04em;
                    /* Blue_01 */
                color: #1F3F68;
              }

              .articles2p {       
                  
                grid-column-start: 2;
                  grid-row-start: 0;
                  grid-row-end: 0;
                  grid-column-end: 3;
                        
                    position: relative;                    
                    left: -19rem;
                    top: 3rem;

                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                /* or 171% */

                letter-spacing: 0.04em;

                color: rgba(0, 0, 0, 0.6);
                            }

              .articles2footer {
                grid-column-start: 1;
                  grid-row-start: 1;
                  grid-row-end: 0;
                  grid-column-end: 2;
                  
                  left: 1rem;

                    position: relative;                 
                                       
                    top: 10rem;
                    display: flex;
                justify-content: space-between;
              }

    }
   
}

